.app {
	width: 100%;
	height: auto;
	background-color: #c5dae4;
}
.app.dark {
	background: linear-gradient(
		142deg,
		rgba(29, 52, 97, 1) 46%,
		rgba(81, 98, 148, 1) 94%
	);
}
.app.dark p {
	color: #c5dae4;
}
.app.dark h3 {
	color: black;
}
.app.dark h4 {
	color: #568ef8;
}
.app.dark .projects a {
	color: burlywood;
}
.app.dark .about_project a {
	color: burlywood;
}
.main_content {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 100px;
}
@media (max-width: 800px) {
	.main_content {
		padding: 0 50px;
	}
}
@media (max-width: 500px) {
	.main_content {
		padding: 0 20px;
	}
}
